<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/base.html :: head}">
</head>
<header th:replace="~{fragments/base.html::header}"></header>
<body>
    <div class="card" style="width: 18rem;">
        <div class="card-header">
            Fiche Joueur
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"th:text="${player.getLastName().toUpperCase()}"></li>
            <li class="list-group-item" th:text="${player.getFirstName()}"></li>
            <li class="list-group-item" th:text="${player.getPseudo()}"></li>
        </ul>
    </div>
</body>
</html>