<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/base.html :: head}">
</head>
<header th:replace="~{fragments/base.html::header}"></header>
<body>
    <form th:action="@{#}" method="post">
        <div>
            <input type="text" name="lastName" placeholder="Nom" th:value="${player!=null}? ${player.getLastName()} : ''"/>
        </div>
        <div>
            <input type="text" name="firstName" placeholder="Prénom" th:value="${player!=null}? ${player.getFirstName()} : ''"/>
        </div>
        <div>
            <input type="text" name="pseudo" placeholder="Pseudo" th:value="${player!=null}? ${player.getPseudo()} : ''"/>
        </div>
        <div>
            <input type="password" name="password" placeholder="mot de passe" th:value="${player!=null}? ${player.getPassword()} : ''"/>
        </div>
        <div>
            <button>valider</button>
        </div>
    </form>
</body>
</html>