<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/base.html :: head}">
</head>
<header th:replace="~{fragments/base.html::header}"></header>
<body>
    <form th:action="@{/user/signin}" method="post">
        <div>
            <input type="text" name="pseudo" placeholder="pseudo" />
        </div>
        <div>
            <input type="password" name="password" placeholder="mot de passe" />
        </div>
        <div>
            <button>valider</button>
        </div>
    </form>
</body>
</html>